<div class="main-wrap">

  <div class="business-name-outer">
    <h3>ThogaKade</h3>
  </div>
  <div class="ham-wrap" (click)="toggleSlider()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="menu-outer">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>

  </div>
</div>
<div class="left-slider" *ngIf="sliderState" [@leftSlider]>

  <ul class="nav-wrap">
    <li>
      <a href="#">Customer management</a>
    </li>
    <li>
      <a href="#">Item Configuration</a>
    </li>
    <li>
      <a href="#">Order Details</a>
    </li>
    <li>
      <a href="#">Place Order</a>
    </li>
  </ul>


</div>
