<div class="mb-3 col-4">
  <label for="id" class="form-label">Customer Id</label>
  <input type="text" class="form-control" id="id" placeholder="C-001">
</div>
<div class="mb-3 col-4">
  <label for="name" class="form-label">Customer Name</label>
  <input type="text" class="form-control" id="name" placeholder="Nimal">
</div>
<div class="mb-3 col-4">
  <label for="salary" class="form-label">Customer Salary</label>
  <input type="number" class="form-control" id="salary" placeholder="50000">
</div>
<div class="mb-3  col-4">
  <label for="address" class="form-label">Address</label>
  <textarea class="form-control" id="address" rows="3"></textarea>
</div>

<div class="mb-3">
  <button type="button" class="btn btn-danger">Delete Customer</button>
</div>
