<table class="table table-hover">
  <thead>
  <tr>
    <th>Customer Id</th>
    <th>name</th>
    <th>Salary</th>
    <th>Address</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tempData of customers; index as num">
    <td>{{tempData.id}}</td>
    <td>{{tempData.name}}</td>
    <td>{{tempData.salary}}</td>
    <td>{{tempData.address}}</td>

  </tr>
  </tbody>
</table>
<mat-paginator [length]="100"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]"
               aria-label="Select page">
</mat-paginator>

