.bottom-bar{
  display: flex;
  height: 50px;
}
.left-side, .right-side{
  width: 50%;
  display: flex;
  align-items: center;
}
.right-side{
  justify-content: flex-end;
}
.ttlCost{
  color: red;
  font-weight: bold;
  margin: 0;
}
