<div class="outer">
  <h1 class="header-text">Customer Management</h1>
  <hr>
  <mat-tab-group>
    <mat-tab label="Save">
      <div class="content-wrap">
        <app-save-customer-page></app-save-customer-page>
      </div>
    </mat-tab>
    <mat-tab label="Update">
      <div class="content-wrap">
        <app-update-customer-page></app-update-customer-page>
      </div>
    </mat-tab>
    <mat-tab label="Delete">
      <div class="content-wrap">
        <app-delete-customer-page></app-delete-customer-page>
      </div>
    </mat-tab>
    <mat-tab label="Search">
      <div class="content-wrap">
        <app-search-customer-page></app-search-customer-page>
      </div>
    </mat-tab>
    <mat-tab label="All">
      <div class="content-wrap">
        <app-all-customer-page></app-all-customer-page>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
