<div class="main">
  <div class="inner">
    <div class="left-side wrap">
      <h2>Welcome..</h2>
      <h4>
        Lorem ipsum dolor sit amet.
      </h4>

      <div class="button-bar">
        <button routerLink="/auth/login" routerLinkActive="active">Login</button>
        <button routerLink="/auth/signup" routerLinkActive="active">Sign Up</button>
      </div>

    </div>
    <div class="right-side wrap">
      <div class="navigateContext">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

