<form [formGroup]="loginForm" (ngSubmit)="login()">
<div class="outer">
  <h3>Login</h3>
  <hr>
  <div class="mb-3">
    <label for="emailAddress" class="form-label">Email address</label>
    <input formControlName="email" type="email" class="form-control" id="emailAddress" placeholder="name@example.com">
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input formControlName="password" type="password" class="form-control" id="password">
  </div>

  <div class="mb-3">
    <input type="submit" class="btn btn-primary" value="Login" style="width: 100%">
  </div>

</div>

</form>
